*{
    box-sizing: border-box;
 } 

input{
    display: none;
}

#savenames{
    display: none;
}

#note{
    display:none;
}

.color{
    border: none;
    background-color: white;
}

table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

#globalVARs{
    display: flex;
    flex-direction: column;
}

.globalVARs p{
    margin-bottom: 10px;
}

#newt {
    width: 100%;
    height: VarSpace;
    /* min-height: 750px; */
}

#newt2 {
    width: 100%;
    height: VarSpace;
    /* min-height: 750px; */
}

canvas {
    width: 100%;
    height: auto;
}

.hide {
    display: none;
}

.controls{
    display: flex;
    flex-direction: column;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.divgroup {
    display: flex;
    flex-direction: row;
}

select {
    margin: 0;
    margin-left: 10px;
}

main {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width:828px) {
    main {
        flex-direction: column;
    }

    select {
        margin: 10px;
    }
    
}