input{
    display: none;
}
#savenames{
    display: none;
}
#note{
    display:none;
}
.color{
    border: none;
    background-color: white;
}
#controls{
    background-color: grey;
    display: flex;
    flex-direction: column;
    width: 100px;
}